@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Monoton&family=Pacifico&display=swap');

/* navbar customization */
body {
    font-family: 'Exo 2', sans-serif;
}

.navbar-brand {
    color: #ffffff;
    font-family: 'Pacifico', cursive;
    padding-left: 30px;
    font-size: 30px;
}

.navbar-brand:hover {
    color: #dc3545;
}

.nav-link {
    color: #ffff;
}

.nav-link:focus,
.nav-link:hover {
    color: #dc3545;
}

.dropdown-menu[data-bs-popper] {
    z-index: 1;
    border-color: #dc3545;
    top: 90%;
}

.dropdown-menu .dropdown-item {
    color: #ffff;
}

.dropdown-item:hover {
    background-color: #ffff;
    color: #000000;
}

.btn-outline-success {
    color: white;
    border: 1px solid #00ff89;
    transition: all .5s;
}

.btn-outline-success:hover {
    color: #000000;
    background-color: #00ff89;
    border: 1px solid #00ff89;
}

.navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* navbar customization end */
/* first_page section */
.shade_img {
    filter: drop-shadow(0px 10px 5px #000000);
}

/* first_page section end */

/* discount-product-section */
.overlay:before {
    content: '';
    text-align: center;
    position: absolute;
    width: 0%;
    height: 0%;
    display: block;
    background-color: rgba(0, 0, 0, 0.487);
    opacity: 1;
    transition: all .5s ease;
    z-index: 1;
    border-radius: 10px;
}

.overlay:hover.overlay:before {
    width: 100%;
    height: 100%;
}

.offer_info {
    opacity: 0;
    z-index: 3;
    transition: all .5s ease;
}

.overlay:hover .offer_info {
    opacity: 1;

}

.overlay_two:hover .offer_info {
    opacity: 1;

}

.overlay_two:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 50%;
    display: block;
    /* top: 0%; */
    background-color: rgba(0, 0, 0, 0.485);
    opacity: 1;
    transition: all .5s ease;
    z-index: 1;
    border-radius: 10px;
}

.overlay_two:hover.overlay_two:before {
    width: 100%;
    height: 100%;
    
    /* top: 100%; */
}
/* discount-product-section end */

/* sign_up_section */
.bg-image {
    background-image: linear-gradient(rgba(4, 28, 50, 1), rgba(0, 0, 0, .7)), url('/images/registration_image/regis_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;

    
}

.fa-gear {
    
    animation-name: gears;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes gears {
    0% {
        transform: rotate(100deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* sign_up_section end*/

/* footer section start */
/* footer section */

.social_icon {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.social_icon li {
    display: inline-block;
    font-size: 25px;
    padding: 10px;
    transition: all .5s;
}

.social_icon li a {
    text-decoration: none;
    color: white;
    display: block;
}

.social_icon li:hover {
    scale: 1.5;
}

/* sub brand */
.sub_brand {
    text-align: center;
}

.sub_brand li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.footer_txt {
    text-align: justify;
}

.payment_method {
    list-style: none;
    text-align: center;
    margin-right: 34px;


}

.payment_method li {
    font-size: 25px;
    display: inline-block;
    padding: 10px;
    transition: all .5s;

}

.payment_method li a {
    color: white;
    text-decoration: none;

}

.payment_method li:hover {
    scale: 1.5;
}

/* footer section end */



/* footer section end */





@media only screen and (max-width: 575px) {
/* 1st page section */
    .banner>img {
        width: 300px;
        height: 250px;
    }
    /* latest feature section */
    .offer_info h5 {
        font-size: 15px;
    }


}

@media screen and (min-width: 575px) and (max-width: 768px) {
    /* 1st page section */
    .banner>img {
        width: 350px;
        height: 300px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    /* 1st page section */
    .banner>img {
        width: 400px;
        height: 320px;
    }
}